{{define "main"}}
<a class="f6 bb" href="/">{{.Site.Title}}</a>

<header class="lh-title">
  <h1 class="f1 mb2">{{.Title}}</h1>
  <div class="lh-solid f6">
    <date>{{.Date}}</date>
    {{ .Render "tags" }}
  </div>
</header>

<main class="mv3"> {{.Content}} </main>

<section class="order-last bt" id="menu">
  <h3> table of contents </h3>
  {{.TableOfContents}}

  <div>
    {{with .PrevInSection}}<a href="{{.RelPermalink}}">← {{.Title}}</a>{{end}}
    {{with .NextInSection}}<a href="{{.RelPermalink}}">{{.Title}} →</a>{{end}}
  </div>

  {{$related := .Site.RegularPages.Related . | first 5}}
  {{with $related}}
  <div>
    <h3>related</h3>
    <ul>
      {{range .}}
      <li><a href="{{.RelPermalink}}">{{.Title}}</a></li>
      {{end}}
    </ul>
  </div>
  {{end}}
</section>

{{end}}
