{{define "main"}}
<a class="f5 bb" href="/">{{.Site.Title}} ⤴</a>

<header class="lh-title">
  <a href="{{.Permalink}}">
    <h1 class="f1 mb2">{{.Title}}</h1>
  </a>
  <div class="lh-solid f6">
    <date>{{.Date.Format "2006-01-02"}}</date>
    {{ .Render "tags" }}
  </div>
</header>

<main class="mt2 mb6"> {{.Content}} </main>

<section class="bt" id="menu">
  <div class="flex flex-row justify-between">
    {{with .PrevInSection}}<a href="{{.RelPermalink}}">← {{.Title}}</a>{{end}}
    <a href="#content">top ⬆</a>
    {{with .NextInSection}}<a href="{{.RelPermalink}}">{{.Title}} →</a>{{end}}
  </div> 
  <div class="">
  </div>
</section>

{{end}}
