@import 'tachyons';

body {
  max-width: 100vw;
}

pre {
  padding: 1em;
  max-width: 100%;
  overflow: scroll;
}

.pagination {
  a {
    margin: 1em;
  }
}

hr {
  border-width: 1px 0 0 0;
  border-style: dashed;
  height: 0;
}

